
#login-container
    form( method="post")#login-form.well.span4
        h1 Witaj!
        p.subheading Zaloguj się na swoje konto
        label Nazwa uzytkownika 
        input(type="text", name="user", id='user-tf').span4.required
        label Haslo
        input(type="password", name="pass", id='pass-tf').span4.required
        button(type="submit")#btn-login.btn.btn-primary
            i.icon-lock.icon-white
            | Zaloguj
        label#remember-me.checkbox Pamietaj mnie
            input(type="checkbox", checked='checked')
        div.clear-fix
        hr
        div.btm-links
            a(href='#')#forgot-password Zapomniales hasla? 
            a(href='/signup')#create-account Utworz konto
    
include modals/alert
include modals/lost-password

script(src='/vendor/jquery.min.js')
script(src='/vendor/jquery.form.js')
script(src='/vendor/bootstrap-modal.js')
script(src='/vendor/bootstrap-transition.js')
script(src='/js/views/login.js')
script(src='/js/controllers/loginController.js')
script(src='/js/form-validators/loginValidator.js')
script(src='/js/form-validators/emailValidator.js')