
.modal-form-errors.modal.hide.fade
	div.modal-header
		button.close(data-dismiss='modal') x
		h3 Upsss!
	div.modal-body
		p.subheading Wyglada na to ze mamy problem.
		ul
	div.modal-footer
		button(data-dismiss="modal").btn.btn-warning OK