
#get-credentials.modal-single-input.modal.hide.fade
    div.modal-header
        button.close(data-dismiss='modal') x
        h3 Zapomniałem hasła
    div.modal-body
        form( method="post")#get-credentials-form.well.span5
            p Proszę wpisać adres e-mail powiązany z kontem
            input(type="text", name="email", id='email-tf').span5.required
            button(type="submit")#submit.btn.btn-primary Wyslij
            button(data-dismiss="modal")#cancel.btn Anuluj
            div.alert.alert-error.hide
            button(data-dismiss="alert").close
    div.modal-footer